.cat-info {
    display: flex;
    margin-top: 25px;
}
.cat-info img {
    margin-right: 20px;
}
.flex {
    display: flex;
    flex-direction: column;
}
.flex h2 {
    margin-bottom: 0;
}
.flex p {
    margin-bottom: 0;
    width: 500px;
}
.loader {
    color: orange;
}
.error {
    color: red;
}
.breed-select {
    width: 250px;
    height: 28px;
    font-size: 15px;
    border-radius: 50px;
}

